<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>com.example.demo.controller.GameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/api/v1/game</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GameViewController</servlet-name>
        <servlet-class>com.example.demo.controller.GameViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameViewController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GameViewController</servlet-name>
        <servlet-class>com.example.demo.controller.GameViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameViewController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.example.demo.filter.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>